<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Bienvenido a  DPM </title>
	        

<!-- Versión compilada y comprimida del CSS de Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 
<!-- Tema opcional -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
 
<!-- Versión compilada y comprimida del JavaScript de Bootstrap -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


	<style type="text/css">
	   body{
                background-color: blue;
		padding-top: 60px;
		padding-bottom: 40px;
	   }
	   .sidebar-nav{
		padding: 9px;
	   }
        </style>
</head>

<body>
	<div class= "navbar navbar-inverse navbar-fixed-top">
	     <div class= "navbar-inner">
                  <p class="navbar-text pull-left">
		  <a href='/'> Proyecto DPM </a>
		     {% if user.is_authenticated %}
		      <p class="navbar-text pull-right">
		        Usted ha ingresado como, {{ user.username }} |
		        <a href='/logout'>Cerrar</a> |
			<a href ="/changepass/">Cambiar Password</a> |
		      </p>
		     {% else %}
	              <p class="navbar-text pull-right">
		      <a href='/login'>Login</a>
		      </p>
		     {% endif %}
	     </div>
	</div>
	<div class= "container-fluid">
	     <div class= "row-fluid">
		<div class= "span9">
	          </div>
	          <div class= "span8">
		       <div class="hero-unit">
                            <div class="well">
			    {% block content %}
			    {% endblock %}
                            </div>
		       </div>
	          </div>
            </div>
	</div>
        <footer>
           <center><p>&copy; DELUXE PROJECT MANAGER 2014 </p></center>
        </footer>
</body>
</html>
